body {
    background-color: #3A3A3A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
}

.titleLetter {
    background-color: #f09f26;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    height: 65px;
    width: 65px;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    margin: 10px;
}

.playfieldvs {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.playfield {
    margin-left: 100px;
}

.playfield:nth-child(2n) {
    margin-left: auto;
    margin-right: 100px;
}

.activeletter {
    display: flex;
    box-shadow: 0px 5px rgba(0,0,0,0.5);
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    display: block;
    background-color: #D3D3D3;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
}

.inactiveletter {
    display: flex;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    display: block;
    background-color: #8c8c8c;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
}

.row {
    display: flex;
}

.keyboard {
    flex-wrap: wrap;
    width: 700px;
    margin-left: 30px;
}

.key {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    background-color: #D3D3D3;
    width: 45px;
    height: 45px;
    min-width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}

#enter {
    width: 85px;
}

.keyrow {
    display: flex;
}

.keyrow:nth-child(2n) {
    margin-left: 40px;
}

.keyrow:nth-child(3n) {
    margin-left: 80px;
}

.playfield-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index: 9999;
    color: white;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
}

.main-content {
    justify-content: center;
    text-align: center;
}

.subtitle {
    color: white;

}

.button {
    background-color: #f09f26;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    margin-top: 25%;
    height: 22px;
    background-color: #5c5c5c40;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}