<!-- game_server/templates/game_server/game.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Game</title>
</head>
<body>
    <textarea id="game-log" cols="100" rows="20"></textarea><br>
    <input id="game-message-input" type="text" size="100"><br>
    <input id="game-message-submit" type="button" value="Send">
    {{ game_name|json_script:"game-name" }}
    <script>
        const gameName = JSON.parse(document.getElementById('game-name').textContent);

        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/session/'
            + gameName
            + '/'
        );

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#game-log').value += (data.message + '\n');
        };

        gameSocket.onclose = function(e) {
            console.error('Game socket closed unexpectedly');
        };

        document.querySelector('#game-message-input').focus();
        document.querySelector('#game-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#game-message-submit').click();
            }
        };

        document.querySelector('#game-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#game-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>